@import 'tailwindcss';

@theme{
  --color-primary:#fb2c36;
  --color-bg-primary:#fef3c6;
  --color-bg-secondary:oklch(98.7% 0.022 95.277);
}

body{
    overflow-x: hidden
}

.custom-container {
    @apply px-5 mx-auto;
    width: 100%;
    @media (width >= 40rem /* 640px */) {
        max-width: 40rem /* 640px */;
    }
    @media (width >= 48rem /* 768px */) {
        max-width: 48rem /* 768px */;
    }
    @media (width >= 64rem /* 1024px */) {
        max-width: 64rem /* 1024px */;
    }
    @media (width >= 80rem /* 1280px */) {
        max-width: 80rem /* 1280px */;
    }
}

@utility sub-text{
    @apply text-gray-500 mt-3;
}

@utility btn{
    @apply px-5 py-3 rounded-3xl bg-primary text-white font-semibold;
}